<span>&copy; 2014-{{"now"|date('Y')}} | <a class="site-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a></span> 
<span><a href="https://github.com/amalter"><img src="{{theme.uri}}/assets/icons/square-github-white.svg" alt="github logo"></a> <a href="https://www.linkedin.com/in/amberalter/"><img src="{{theme.uri}}/assets/icons/linkedin-white.svg" alt="linkedin logo"></a></span>
